.styling{
    background-color: aqua;
    height: 400px;
    width: 500px;
    text-align: center;
    
    
}

.styleone {
    display: grid;
    background-color: rgb(18, 252, 252);
    padding: 20px;
    border-radius: 20px;
    height: 205px;
    justify-self: center;
    
}
.stylesec{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 1.5px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(194, 184, 184, 0.5);
}
.box{
    width: 50px;
    height: 50px;
    height: 60px;
    border: nne;
    font-size: 8vmin;
    color: white;
    background: linear-gradient(145deg, #3c3c55, #2c2c45);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: black;
}
.box:hover {
    background: #444466;
    transform: scale(1.05);
    
  }
.letstart{
    background-color: black;
    color: aquamarine;
}
